/*
#main-container{
    margin: auto;
    width: 750px;
    height: 800px;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid #d0d1d5;
    border-right: 1px solid #d0d1d5;
}
*/
/*
#form-container{
    margin: auto;
    width: 500px;
    padding-top:25px;
    padding-bottom: 10px;
}
*/
/*
#result-container{
    margin-bottom:50px;
}
*/
/*
#query-input:focus{
    width: 500px;
    font-size: 35px;
    
}

#query-input{
    width: 500px;
    font-size: 35px;
}
*/
/*
#title{
    max-width: 590px;
}

#title, #year {
    display: inline-block;
    vertical-align: baseline;
    line-height: 100%;
}

#year{
    margin-left: 15px;
}

#rated{
    padding: 5px;
    border: 1px solid grey;
}
}

#minor-info-area{
    padding-bottom: 15px;
    padding-top: 15px;
}

#minor-info-area > span{
    margin-left: 7px;
}

#plot{
    margin-top: 15px;
}

#poster-area{
    margin: auto;
    width: auto;
    display: inline-block;
}

#info-area{
    border-top: 1px solid #d0d1d5;
    padding-top: 20px;
    display: inline-block;
    width: 375px;
    float: right;
    padding-bottom: 20px;
}

#myrating-area{
    padding-top: 15px;
    border-top: 1px solid #d0d1d5;
}

#critics-area{
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
}

#oscar-area{
    display: inline-block;
    width:76px;
    padding-left: 20px;
    border-left: 1px solid #d0d1d5;
    vertical-align:top;
    
}

#oscar-icon{
    width:75px;
}

#director, #writer, #actors{
    font-size: 17px;
}

#awards{
    display: inline-block;
    width: 120px;
    position: relative;
    top: 15px;
}

#star-icon{
    width:75px;
    display: block;
}

#imdb-area{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

#mc-area{
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #d0d1d5;
    padding-right: 20px;
}

#imdb-icon{
    max-width: 75px;
}

#metacritic-icon{
    padding:5px;
    background-color: black;
    max-width: 90px;
}

#imdbrating{
    display: inline-block;
    position: relative;
    left: 26px;
    bottom: 50px;
    font-weight: bold;
    font-size: 17px;
}

#metascore{
    width: 90px;
    height: 75px;
    color:white;
    font-size: 53px;
    text-align: center;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    /*
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -khtml-border-radius: 20px; 
    */
    /*display: block;*/
    /* position: relative; */
    /* left: 13; */
}*/
/*
#poster{
    max-width: 400px;
    -webkit-box-shadow: 3px 3px 3px #7C7C7C;
    box-shadow: 3px 3px 3px #7C7C7C;
}

#evtitle{
    font-size: 26px;
    color: grey;
}

#evexplain{
    padding-left: 13px;
    display: inline-block;
    width:220px;
    font-weight: bold;
}

#myrating{
    display: inline-block;
    font-size: 85px;
    vertical-align: top;
    width:151px;
    text-align: center;
}
*/